In [1]:
# Write a Python program to find the number of times 4 appears in the tuple. 
# Input: tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 ) 
# Output: 3 

# Define the tuple
tuples = (2, 4, 5, 6, 2, 3, 4, 4, 7)

# Count the number of times 4 appears in the tuple
count_of_4 = tuples.count(4)

# Print the result
print(count_of_4)

3

In [2]:
# 2.Write a Python program to convert a list to a tuple. 
# Input: listx = [5, 10, 7, 4, 15, 3] 
# Output: (5, 10, 7, 4, 15, 3) 

# Define the list
listx = [5, 10, 7, 4, 15, 3]

# Convert the list to a tuple
tuples = tuple(listx)

# Print the result
print(tuples)

(5, 10, 7, 4, 15, 3)

In [3]:
# 3. Write a Python program to calculate the sum of the numbers in a given tuple. 
# Input: tuples_list = [(1, 2), (3, 4), (5, 6)]

# Define the list of tuples
tuples_list = [(1, 2), (3, 4), (5, 6)]

# Calculate the sum of all numbers in the tuples
total_sum = sum(sum(t) for t in tuples_list)

# Print the result
print(total_sum)

21

In [4]:
# 4.Write a python program and iterate the given tuples Inputs

# employee1 = ("John Doe", 101, "Human Resources", 60000) 

# employee2 = ("Alice Smith", 102, "Marketing", 55000) 

# employee3 = ("Bob Johnson", 103, "Engineering", 75000)

# Define the tuples
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

# List of employees
employees = [employee1, employee2, employee3]

# Iterate over the list of tuples and print their contents
for employee in employees:
    name, id, department, salary = employee
    print(f"Name: {name}, ID: {id}, Department: {department}, Salary: {salary}")

Name: John Doe, ID: 101, Department: Human Resources, Salary: 60000
Name: Alice Smith, ID: 102, Department: Marketing, Salary: 55000
Name: Bob Johnson, ID: 103, Department: Engineering, Salary: 75000