In [16]:
#Write a Pandas program to create a Pivot table and find the total sale amount region wise, manager wise, sales man wise.

import pandas as pd

df = pd.read_csv("salesdataa.csv")# Load the sales data

In [17]:
pivot_table1 = pd.pivot_table(df, values='Sale_amt', index=['Region', 'Manager', 'SalesMan'], aggfunc='sum')  # Create a Pivot table

print(pivot_table1)		 # Display the Pivot table

                           Sale_amt
Region  Manager SalesMan
Central Douglas John       124016.0
        Hermann Luis       206373.0
                Shelli      33698.0
                Sigal      125037.5
        Marth   Steven      14000.0
        Martha  Steven     185690.0
        Timothy David      140955.0
East    Douglas Karen       48204.0
        Martha  Alexander  236703.0
                Diana       36100.0
West    Douglas Michael     66836.0
        Timothy Stephen     88063.0

In [19]:
#Write a Pandas program to create a Pivot table and find the item wise unit sold.

import pandas as pd


df = pd.read_csv(r'salesdataa.csv')	# Load the sales data
pivot_table = pd.pivot_table(df, values='Units', index=['Item'], aggfunc='sum')	# Create a Pivot table to find the item wise units sold
print(pivot_table)# Display the Pivot table

              Units
Item
Cell Phone      278
Desk             10
Home Theater    722
Television      716
Video Games     395